/*  your css code here. If applicable */
:root {
  background-color: skyblue;
	
}

p:first-child {
	
  background-color: black;
  color: white;
	
}

li:nth-child(odd) {
  background-color: pink;
}

li:nth-child(even) {
  background-color: rgb(112,127,143);
}

p:last-child {
  color: red;
}